---

---

<span class="u"><slot /></span>
<style>
    .u {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--md-sys-color-primary);
        text-underline-offset: 2px;
    }
</style>
