---

---

<span class="emp"><slot /></span>
<style>
    .emp {
        text-emphasis: dot;
        text-emphasis-position: under right;
        text-emphasis-color: var(--md-sys-color-primary);
        -webkit-text-emphasis: dot; /* Safari */
        -webkit-text-emphasis-position: under right;
        -webkit-text-emphasis-color: var(--md-sys-color-primary);
    }
</style>
