---

---

<span class="wavy"><slot /></span>
<style>
    .wavy {
        text-decoration: underline wavy;
        text-decoration-thickness: 1.5px;
        text-decoration-color: var(--md-sys-color-error);
        text-underline-offset: 2px;
    }
</style>
